<div class="animated fadeIn">
    <div class="row py-3 px-4">
        <div class="col-md-10 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="card  pb-0 mb-0">
                    <div class="card-header">
                        <h4>API Token</h4>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5>Platform Integration</h5>
                        <p>
                            The platform issued Token can be used to integrate the candidate search functionality with an external platform. API calls to the platform
                            require Bearer token authentication.
                        </p>
                        <p>
                            Below is your token:
                        </p>
                        <div class="text-center" *ngIf="token">
                            <code>
                                {{ token.token }}
                            </code>
                        </div>
                        <div [innerHTML]="page.snippet | sanitizeHtml" *ngIf="page"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

