<div class="animated fadeIn h-100">
    <div class="row py-3 px-4">
        <div class="col-md-10 mx-auto my-auto">
            <div class="my-auto">
                <div class="row justify-content-center">
                    <div class="col-md-8 align-self-center" style="margin-top: 20%">
                        <div class="text-center">
                            <img src="assets/img/tritek-logo.png" class="img-fluid" style="height: 60px;">
                        </div>
                        <h6 class="text-center">Tritek Careers</h6>
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Search candidates by role or skill set">
                            <span class="input-group-append">
                                <button class="btn btn-info" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

