:host ::ng-deep .ng2-tag-input__text-input {
   display: block !important;
   width: 100% !important;
   background: transparent !important;
 }

:host ::ng-deep .bootstrap.ng2-tag-input {
  display: block !important;
  width: 100% !important;
  background: transparent !important;
}
