<div class="animated fadeIn" *ngIf="dataLoaded">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ onLine | number }}</div>
          <div>Users online</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">{{ chatStatusList?.length | number }}</div>
          <div>Platform Users</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">{{ dashBoard.channels?.length | number }}</div>
          <div>Total Channels</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" >
            <button type="button" class="btn btn-transparent dropdown-toggle p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">{{ dashBoard.tasks?.length | number }}</div>
          <div>Total Tasks</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Channel Tasks Analysis</h4>
          <div class="small text-muted">{{ today | date : 'longDate' }}</div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-4 mb-0">
          <div class="text-muted">Total Backlog</div>
          <strong>{{ (backlog | number) + ' ('  + (backlog / dashBoard.tasks.length | percent) + ')'}}</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-primary" role="progressbar" [style]="'width: ' + (backlog / dashBoard.tasks.length | percent)" aria-valuenow="{{ backlog / dashBoard.tasks.length | percent }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-4 mb-0">
          <div class="text-muted">Total Tasks In-Progress</div>
          <strong>{{ (inProgress | number) + ' ('  + (inProgress / dashBoard.tasks.length | percent) + ')'}}</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" [style]="'width: ' + (inProgress / dashBoard.tasks.length | percent)" aria-valuenow="{{ inProgress / dashBoard.tasks.length | percent }}"  aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-4 mb-0">
          <div class="text-muted">Done Tasks</div>
          <strong>{{ (doneTask | number) + ' ('  + (doneTask / dashBoard.tasks.length | percent) + ')'}}</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" [style]="'width: ' + (doneTask / dashBoard.tasks.length | percent)" aria-valuenow="{{ doneTask / dashBoard.tasks.length | percent }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Future Schedules

          <input class="float-right mr-2" (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Search table"
                 size="20" style="width:auto; height: 30px;" type="text">
        </div>
        <div class="card-body">
          <p-table #dt [autoLayout]="true" [columns]="cols" [paginator]="true" [resizableColumns]="true"
                   [rowsPerPageOptions]="[10,15,20,25]" [rows]="10" [value]="dashBoard.schedule" columnResizeMode="fit"
                   sortMode="multiple">
            <ng-template let-columns pTemplate="header">
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template let-data pTemplate="body">
              <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.channel }}</td>
                <td>{{ data.date | date }}</td>
                <td>{{ data.editor }}</td>
                <td>{{ data.followers | number }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
