<div *ngIf="dataLoaded" class="animated fadeIn">
    <div class="row py-3 px-4">
        <div class="col-md-10 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="card  pb-0 mb-0">
                    <div class="card-header">
                        <h4>{{ profile ? 'Update Profile' : 'Complete Your Profile' }}
                            <button *ngIf="enableClose" (click)="close()" class="btn btn-sm btn-danger float-right"><i class="fa fa-close"></i></button>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="my-4">
                <form [formGroup]="profileGroup">
                    <div class="bg-white shadow p-3">
                        <div class="row">
                            <div class="col-12">
                                <h4>Profile Data</h4>
                                <hr>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <app-uploads [fileStorage]="passport"
                                             [avatarUrl]="profile.avatar"
                                             [instantUpload]="false"
                                             [toastComplete]="false"
                                             [uploadLabel]="'Profile Photo'"
                                             [uploadName]="'passport'"
                                             (fileStorageUploads)="updatePassport($event)"
                                             [upload]="false">
                                </app-uploads>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <mat-form-field class="d-block">
                                    <input formControlName="name" matInput placeholder="Name..." required>
                                    <mat-error *ngIf="submitted && f.name.hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="d-block mt-3">
                                    <input formControlName="title" matInput placeholder="Title" required>
                                    <mat-error *ngIf="submitted && f.title.hasError('required')">
                                        Title is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ckeditor (ready)="onReady($event)" [config]="editorConfig" [editor]="ckEditor"
                                          formControlName="description"></ckeditor>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 pb-4">
                        <button (click)="submitProfile()" class="btn btn-ghost-primary float-right">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!dataLoaded" class="animated fadeIn py-3 px-4">
    <facebook-content-loader></facebook-content-loader>
    <facebook-content-loader></facebook-content-loader>
    <list-content-loader></list-content-loader>
</div>

