<div class="animated fadeIn">
    <div class="card-group custom-container mx-0 row">
        <div class="card col-md-8 p-0">
            <div *ngIf="selectedChat" class="card-header">
                <div class="d-inline-flex">
                    <div class="avatar mr-2">
                        <img *ngIf="selectedChat.avatar.length < 1" src="assets/img/avatars/0.png" alt="avatar" height="30" width="auto" class="img-avatar">
                        <img *ngIf="selectedChat.avatar.length > 0" src="{{ getAvatarLink(selectedChat) }} " alt="{{ selectedChat.name }}" height="30" width="auto" class="img-avatar">
                        <span [class]="statusBadge(selectedChat)"></span>
                    </div>
                    <div>
                        <a href="#" (click)="false" title="{{ selectedChat.name }}">
                            <span>{{ selectedChat.name }}</span></a>
<!--                        <i class="small text-primary ml-2">Typing...</i>-->
                        <span class="small d-block">{{ getLastSeen() === 'Online' ? 'Online' : 'Last seen: ' + (lastSeen | timeAgo) }}</span>
                    </div>
                </div>
                <div class="card-header-actions float-right">
                    <ul class="nav custom-menu">
                        <li class="nav-item">
                            <span class="px-2 py-2"><i class="fa fa-2x fa-phone"></i></span>
                        </li>
                        <li class="nav-item">
                            <span class="px-2 py-2"><i class="fa fa-2x fa-video-camera"></i></span>
                        </li>
                        <li class="nav-item dropdown dropdown-action" dropdown>
                            <span aria-expanded="false" data-toggle="dropdown" dropdownToggle class="px-2 py-2">
                                <i class="fa fa-2x fa-ellipsis-v"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                <button class="dropdown-item">Delete Conversations</button>
                                <button class="dropdown-item">Settings</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="selectedChat" class="card-body">
                <div class="message-content">
                    <div class="message">
                        <div *ngFor="let chat of  activeChat">
<!--                            <div *ngIf="!getChatDate(chat.date | date)" class="d-block text-center mt-1">-->
<!--                                <span class="small">{{  chat.date | dayAgo }}</span>-->
<!--                                <hr>-->
<!--                            </div>-->

                            <div [class]="+chat.from.id !== +loginUser.id ? 'd-flex justify-content-start mb-4' : 'd-flex justify-content-end mb-4'">
                                <div class="img_cont_msg">
                                    <img *ngIf="chat.from.avatar.length < 1" src="assets/img/avatars/0.png" class="rounded-circle user_img_msg">
                                    <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img_msg">
                                </div>
                                <div [class]="+chat.from.id !== +loginUser.id ? 'msg_container' : 'msg_container_send'">
                                    {{ chat.message }}
                                    <span [class]="+chat.from.id !== +loginUser.id ? 'msg_time' : 'msg_time_send'">{{ chat.date | timeAgo }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedChat" class="card-footer">
                <div class="d-flex">
                    <div class="d-flex">
                        <button class="btn btn-light btn-sm d-sm-inline-block" data-toggle="tooltip" title="" type="button" data-original-title="Emoji">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                        </button>
                        <button class="btn btn-danger btn-sm d-inline d-sm-none btn-close-chat" data-toggle="tooltip" title="" type="button" data-original-title="Emoji">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                        </button>
                        <button class="btn btn-light btn-sm d-none d-sm-inline-block" data-toggle="tooltip" title="" type="button" data-original-title="Add files">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
                        </button>
                    </div>
                    <textarea [formControl]="chatMsg" rows="1" type="text" class="form-control" placeholder="Write a message."></textarea>
                    <div class="form-buttons">
                        <button (click)="sendMsg()" class="btn btn-primary btn-sm ml-1" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-0 col-md-4">
            <tabset>
                <tab (selectTab)="selectedTab = 'chat'">
                    <ng-template tabHeading class="app-link"><i class="icon-list"></i> {{ selectedTab === 'chat' ? 'Recent Chats' : '' }}</ng-template>
                    <div class="chat-aside-container">
                        <div class="card m-0 p-0 contacts_card border-0">
                            <div class="card-header border-0 bg-transparent">
                                <div class="input-group">
                                    <input type="text" placeholder="Search..." name="" class="form-control search">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 border-0 contacts_body">
                                <ul class="contacts">
                                    <li *ngFor="let chat of  chats" [class]="chat.from.id === selectedChat?.id ? 'active-user' : ''" (click)="chatFriend(chat.from)">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img *ngIf="chat.from.avatar.length < 1" src="assets/img/avatars/0.png" class="rounded-circle user_img">
                                                <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img">
                                                <span *ngIf="isOnline(chat.from)" class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>{{ chat.from.name }}</span>
                                                <p *ngIf="isOnline(chat.from)">Online</p>
                                                <p *ngIf="!isOnline(chat.from)">Offline</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab (selectTab)="selectedTab = 'calls'">
                    <ng-template tabHeading class="app-link"><i class="icon-phone"></i> {{ selectedTab === 'calls' ? 'Recent Calls' : '' }}</ng-template>
                    <div class="chat-aside-container">
                        <div class="card m-0 p-0 contacts_card border-0">
                            <div class="card-header border-0 bg-transparent">
                                <div class="input-group">
                                    <input type="text" placeholder="Search..." name="" class="form-control search">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 border-0 contacts_body">
                                <ul class="contacts">
                                    <li class="active-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Khalid</span>
                                                <p>Kalid is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Taherah Big</span>
                                                <p>Taherah left 7 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="https://i.pinimg.com/originals/ac/b9/90/acb990190ca1ddbb9b20db303375bb58.jpg" class="rounded-circle user_img">
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Sami Rafi</span>
                                                <p>Sami is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="http://profilepicturesdp.com/wp-content/uploads/2018/07/sweet-girl-profile-pictures-9.jpg" class="rounded-circle user_img">
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Nargis Hawa</span>
                                                <p>Nargis left 30 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img">
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Rashid Samim</span>
                                                <p>Rashid left 50 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab (selectTab)="selectedTab = 'contact'">
                    <ng-template tabHeading class="app-link"><i class="icon-user"></i> {{ selectedTab === 'contact' ? 'Contacts' : '' }}</ng-template>
                    <div class="chat-aside-container">
                        <div class="card m-0 p-0 contacts_card border-0">
                            <div class="card-header border-0 bg-transparent">
                                <div class="input-group">
                                    <input type="text" placeholder="Search..." name="" class="form-control search">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 border-0 contacts_body">
                                <ul class="contacts">
                                    <li *ngFor="let chat of  contacts" (click)="chatFriend(chat)">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img *ngIf="chat.avatar.length < 1" src="assets/img/avatars/0.png" class="rounded-circle user_img">
                                                <img *ngIf="chat.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img">
                                            </div>
                                            <div class="user_info">
                                                <span>{{ chat.name }}</span>
                                                <p *ngIf="isOnline(chat)">Online</p>
                                                <p *ngIf="!isOnline(chat)">Offline</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab (selectTab)="selectedTab = 'settings'">
                    <ng-template tabHeading class="app-link"><i class="icon-settings"></i> {{ selectedTab === 'settings' ? 'Settings' : '' }}</ng-template>
                    <div class="p-3 chat-aside-container">
                        <h6>Settings</h6>
                        <div class="aside-options">
                            <div class="clearfix mt-4">
                                <small><b>Option 1</b></small>
                                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                </label>
                            </div>
                            <div>
                                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                            </div>
                        </div>
                        <div class="aside-options">
                            <div class="clearfix mt-3">
                                <small><b>Option 2</b></small>
                                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                </label>
                            </div>
                            <div>
                                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                            </div>
                        </div>
                        <div class="aside-options">
                            <div class="clearfix mt-3">
                                <small><b>Option 3</b></small>
                                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                        <div class="aside-options">
                            <div class="clearfix mt-3">
                                <small><b>Option 4</b></small>
                                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                </label>
                            </div>
                        </div>
                        <hr>
                        <h6>System Utilization</h6>
                        <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">348 Processes. 1/4 Cores.</small>
                        <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">11444GB/16384MB</small>
                        <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">243GB/256GB</small>
                        <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">25GB/256GB</small>
                    </div>
                </tab>
            </tabset>
        </div>

    </div>
</div>
