<div class="animated fadeIn">
    <div class="card-group custom-container mx-0 row">
        <div class="card col-lg-8 col-md-12 p-0">
            <div *ngIf="selectedChat" class="card-header">
                <div class="d-inline-flex">
                    <div class="avatar mr-2" *ngIf="!group">
                        <img *ngIf="selectedChat.avatar.length < 1" src="assets/img/avatars/0.png" alt="avatar" height="30" width="auto" class="img-avatar">
                        <img *ngIf="selectedChat.avatar.length > 0" src="{{ getAvatarLink(selectedChat) }} " alt="{{ selectedChat.name }}" height="30" width="auto" class="img-avatar">
                        <span [class]="statusBadge(selectedChat)"></span>
                    </div>
                    <div *ngIf="!group">
                        <a href="#" (click)="false" title="{{ selectedChat.name }}">
                            <span>{{ selectedChat.name }}</span></a>
                        <span class="small d-block">{{ getLastSeen() === 'Online' ? 'Online' : 'Last seen: ' + (lastSeen | timeAgo) }}</span>
                    </div>
                    <div *ngIf="group">
                        <a href="#" (click)="false" title="{{ selectedChat.name }}">
                            <b>Channel: </b><span>{{ selectedChat.name }}</span></a>
                        <span class="small d-block">Members Online: <span class="text-success">{{ getMembersOnline() | number }}</span>/<span class="text-primary">{{ selectedChat.members.length | number }}</span> </span>
                    </div>
                </div>
                <div class="card-header-actions float-right">
                    <ul class="nav custom-menu">
                        <li class="nav-item">
                            <span class="px-2 py-2"><i class="fa fa-2x fa-phone"></i></span>
                        </li>
                        <li class="nav-item">
                            <span class="px-2 py-2"><i class="fa fa-2x fa-video-camera"></i></span>
                        </li>
                        <li class="nav-item d-lg-none d-md-block" (click)="showAsideBar(asideTemplate)">
                            <span class="px-2 py-2"><i class="fa fa-2x fa-user-circle-o"></i></span>
                        </li>
<!--                        <li class="nav-item dropdown dropdown-action" dropdown>-->
<!--                            <span aria-expanded="false" data-toggle="dropdown" dropdownToggle class="px-2 py-2">-->
<!--                                <i class="fa fa-2x fa-ellipsis-v"></i>-->
<!--                            </span>-->
<!--                            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>-->
<!--                                <button (click)="deleteConversations()" class="dropdown-item">Delete Conversations</button>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
            <div *ngIf="selectedChat" class="card-body">
                <div class="message-content" #scrollMe (scroll)="onScroll()">
                    <div class="message">
                        <div *ngFor="let chat of  activeChat">
                            <div *ngIf="!chat.file" [class]="+chat.from.id !== +loginUser.id ? 'd-flex justify-content-start mb-4' : 'd-flex justify-content-end mb-4'">
                                <div class="img_cont_msg">
                                    <img *ngIf="chat.from.avatar.length < 1" tooltip="{{ chat.from.name }}" src="assets/img/avatars/0.png" class="rounded-circle user_img_msg">
                                    <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img_msg">
                                </div>
                                <div [class]="+chat.from.id !== +loginUser.id ? 'msg_container' : 'msg_container_send'">
                                    {{ chat.message }}
                                    <span [class]="+chat.from.id !== +loginUser.id ? 'msg_time' : 'msg_time_send'">{{ chat.date | timeAgo }}</span>
                                </div>
                            </div>
                            <div *ngIf="chat.file && !chat.file.fileType.includes('image')" [class]="+chat.from.id !== +loginUser.id ? 'd-flex justify-content-start mb-4' : 'd-flex justify-content-end mb-4'">
                                <div class="img_cont_msg">
                                    <img *ngIf="chat.from.avatar.length < 1" tooltip="{{ chat.from.name }}" src="assets/img/avatars/0.png" class="rounded-circle user_img_msg">
                                    <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img_msg">
                                </div>
                                <div [class]="+chat.from.id !== +loginUser.id ? 'msg_container' : 'msg_container_send'">
                                    <a *ngIf="chat.file && !chat.file.fileType.includes('image')" href="#" (click)="downloadFile(chat.file)">{{ chat.file.name }}</a>
                                    <br>
                                    {{ chat.message }}
                                    <span [class]="+chat.from.id !== +loginUser.id ? 'msg_time' : 'msg_time_send'">{{ chat.date | timeAgo }}</span>
                                </div>
                            </div>
                            <div *ngIf="chat.file && chat.file.fileType.includes('image')" [class]="+chat.from.id !== +loginUser.id ? 'd-flex justify-content-start mb-4' : 'd-flex justify-content-end mb-4'">
                                <div class="img_cont_msg">
                                    <img *ngIf="chat.from.avatar.length < 1" tooltip="{{ chat.from.name }}" src="assets/img/avatars/0.png" class="rounded-circle user_img_msg">
                                    <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img_msg">
                                </div>
                                <div [class]="+chat.from.id !== +loginUser.id ? 'msg_container bg-transparent' : 'msg_container_send bg-transparent'">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" [src]="filePath + chat.file.link" alt="{{chat.file.name}}">
                                        <div class="card-body">
                                            <p class="card-text">{{ chat.message }}</p>
                                        </div>
                                        <div class="card-footer">
                                            {{ chat.date | timeAgo }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedChat" class="card-footer">
                <div class="d-flex">
                    <div class="d-flex">
                        <button *ngIf="!viewEmoji" (click)="viewEmoji = !viewEmoji" class="btn btn-light btn-sm d-sm-inline-block" data-toggle="tooltip" title="" type="button" data-original-title="Emoji">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                        </button>
                        <button *ngIf="viewEmoji" (click)="viewEmoji = !viewEmoji" class="btn btn-danger btn-sm d-inline btn-close-chat" data-toggle="tooltip" title="" type="button" data-original-title="Emoji">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                        </button>
                        <emoji-mart *ngIf="viewEmoji" (emojiClick)="addEmoji($event)" [style]="{ position: 'absolute', bottom: '60px', left: '10px' }"></emoji-mart>
                        <button (click)="upload(uploadTemp)" class="btn btn-light btn-sm d-none d-sm-inline-block" data-toggle="tooltip" title="" type="button" data-original-title="Add files">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
                        </button>
                    </div>
                    <textarea [formControl]="chatMsg" rows="1" type="text" class="form-control" placeholder="Write a message."></textarea>
                    <div class="form-buttons">
                        <button (click)="sendMsg()" class="btn btn-primary btn-sm ml-1" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!selectedChat" class="d-lg-none d-md-block">
                <button class="btn btn-fab btn-success" (click)="showAsideBar(asideTemplate)"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="card p-0 col-lg-4 d-md-down-none">
            <ng-container *ngTemplateOutlet="asideTemplate"></ng-container>
        </div>

    </div>
</div>

<ng-template #asideTemplate>
    <tabset>
        <tab (selectTab)="selectedTab = 'chat'">
            <ng-template tabHeading class="app-link"><i class="icon-list"></i> {{ selectedTab === 'chat' ? 'Recent Chats' : '' }}</ng-template>
            <div class="chat-aside-container">
                <div class="card m-0 p-0 contacts_card border-0">
                    <div class="card-header border-0 bg-transparent">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 border-0 contacts_body">
                        <ul class="contacts">
                            <li *ngFor="let chat of  chats" [class]="chat.from.id === selectedChat?.id ? 'active-user' : ''" (click)="chatFriend(chat.from)">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img *ngIf="chat.from.avatar.length < 1" src="assets/img/avatars/0.png" class="rounded-circle user_img">
                                        <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img">
                                        <span *ngIf="isOnline(chat.from)" class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>{{ chat.from.name }}</span>
                                        <p *ngIf="isOnline(chat.from)">Online</p>
                                        <p *ngIf="!isOnline(chat.from)">Offline</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </tab>
        <tab (selectTab)="selectedTab = 'calls'">
            <ng-template tabHeading class="app-link"><i class="icon-phone"></i> {{ selectedTab === 'calls' ? 'Recent Calls' : '' }}</ng-template>
            <div class="chat-aside-container">
                <div class="card m-0 p-0 contacts_card border-0">
                    <div class="card-header border-0 bg-transparent">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 border-0 contacts_body">
                        <ul class="contacts">
                            <li *ngFor="let chat of  chats" [class]="chat.from.id === selectedChat?.id ? 'active-user' : ''" (click)="chatFriend(chat.from)">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img *ngIf="chat.from.avatar.length < 1" src="assets/img/avatars/0.png" class="rounded-circle user_img">
                                        <img *ngIf="chat.from.avatar.length > 1" src="{{ chat.from.avatar }}" class="rounded-circle user_img">
                                        <span *ngIf="isOnline(chat.from)" class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>{{ chat.from.name }}</span>
                                        <p *ngIf="isOnline(chat.from)">Online</p>
                                        <p *ngIf="!isOnline(chat.from)">Offline</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </tab>
        <tab (selectTab)="selectedTab = 'contact'">
            <ng-template tabHeading class="app-link"><i class="icon-user"></i> {{ selectedTab === 'contact' ? 'Contacts' : '' }}</ng-template>
            <div class="chat-aside-container">
                <div class="card m-0 p-0 contacts_card border-0">
                    <div class="card-header border-0 bg-transparent">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 border-0 contacts_body">
                        <ul class="contacts">
                            <li *ngFor="let chat of  contacts" (click)="chatFriend(chat)">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img *ngIf="chat?.avatar.length < 1" src="assets/img/avatars/0.png" class="rounded-circle user_img">
                                        <img *ngIf="chat?.avatar.length > 1" src="{{ chat.avatar }}" class="rounded-circle user_img">
                                    </div>
                                    <div class="user_info">
                                        <span>{{ chat?.name }}</span>
                                        <p *ngIf="isOnline(chat)">Online</p>
                                        <p *ngIf="!isOnline(chat)">Offline</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </tab>
        <tab (selectTab)="selectedTab = 'channels'">
            <ng-template tabHeading class="app-link"><i class="icon-people"></i> {{ selectedTab === 'channels' ? 'Channels' : '' }}</ng-template>
            <div class="p-3 chat-aside-container">
                <h6>My Channels</h6>
                <btn class="btn btn-ghost-success btn-sm btn-block mb-2" *ngFor="let channel of channels" (click)="groupChat(channel)">{{ channel.name }}</btn>
            </div>
        </tab>
    </tabset>
</ng-template>

<ng-template #uploadTemp>
    <div class="modal-header">
        <h4 class="modal-title">{{ uploading ? 'Uploading your file' : 'Add File' }}</h4>
        <button (click)="uploadModal.hide()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="!uploading" class="modal-body">
        <div class="form-group">
            <label for="select1">Select File</label>
            <input id="select1" type="file" class="form-control" (change)="readURL($event, 'document');" >
            <span class="text-red">{{fileError}}</span>

        </div>
        <div class="form-group">
            <label for="roles">Comment</label>
            <textarea [formControl]="comment" class="form-control" id="roles" placeholder="Your comment or file description" type="text" rows="3"></textarea>
        </div>

    </div>
    <div *ngIf="uploading" class="modal-body align-content-center mx-auto">
        <div class="text-center">
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <div *ngIf="!uploading" class="modal-footer">
        <button (click)="uploadModal.hide()" class="btn btn-secondary" type="button">Close</button>
        <button (click)="postFile()" class="btn btn-primary" type="submit">Post File</button>
    </div>
</ng-template>
