<div class="animated fadeIn">
    <div class="row py-3 px-4">
        <div class="col-md-10 mx-auto">
            <div [ngSwitch]="view">
                <!-- Profile widget -->
                <div *ngSwitchCase="1">
                    <app-recruiter-profile (closed)="close()" [user]="loginUser" [enableClose]="true" [logo]="getLogo()" [profile]="profile"></app-recruiter-profile>
                </div>
                <div *ngSwitchCase="2">
                    <app-candidate-profile [profile]="profile" (closed)="close()" [passport]="getPassport()" [enableClose]="true" [user]="loginUser"></app-candidate-profile>
                </div>
            </div>
        </div>
    </div>
</div>

