<div [ngSwitch]="view">
    <div *ngSwitchCase="1" class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mb-3">Calendar</h3>
                </div>
            </div>
        </div>

        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-4 col-sm-8">
                    <mat-form-field class="d-block" *ngIf="channelOpts?.length > 0">
                        <mat-label>Channel</mat-label>
                        <mat-select [formControl]="channel">
                            <mat-option *ngFor="let ch of channelOpts" [value]="ch.id">{{ ch.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <a *ngIf="channelOpts?.length < 1" href="#/channels" class="btn btn-block btn-info">Create Channel</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" *ngIf="dataLoaded">
                            <full-calendar #calendar [options]="options"></full-calendar>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card" *ngIf="selEvent">
                        <div class="card-header">
                            {{ selEvent.name }}
                            <div class="card-header-actions">
                                <button (click)="initForm(selEvent)" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <div class="card-body" [innerHTML]="selEvent.description | sanitizeHtml">
                        </div>
                    </div>
                </div>
            </div>
                <!-- Chats View -->
                <div *ngIf="selEvent" class="card">
                    <div class="card-body">
                        <h4>Event Comments</h4>
                        <div class="profile-feed">
                            <div class="d-flex align-items-start profile-feed-item" *ngFor="let comment of selEvent.comments">
                                <img *ngIf="loginUser.passport" [src]="fsPath + loginUser.passport.link" class="img-sm rounded-circle" style="height: 35px; width: 35px;">
                                <img *ngIf="!loginUser.passport && loginUser.avatar" [src]="loginUser.avatar" class="img-sm rounded-circle" style="height: 35px; width: 35px;">
                                <img *ngIf="!loginUser.passport && !loginUser.avatar" src="assets/img/avatars/0.png" class="img-sm rounded-circle" style="height: 35px; width: 35px;">
                                <div class="ml-4">
                                    <h6>
                                        {{ comment.user.name }}
                                        <small class="ml-4 text-muted"><i class="fa fa-clock-o mr-1"></i>{{ comment.created_at | date }} at {{ comment.created_at | date : 'h:s'}}
                                            <i *ngIf="+comment.user.id === +loginUser.id" class="fa fa-trash-o text-danger ml-3" (click)="deleteComment(comment)"></i>
                                        </small>
                                    </h6>
                                    <p class="mb-2">{{ comment.comment }}</p>

                                    <img *ngIf="comment.docs && comment.docs.fileType.includes('image')" [src]="fsPath + comment.docs.link" alt="sample" class="rounded mw-100">
                                    <a *ngIf="comment.docs && !comment.docs.fileType.includes('image')" href="#" (click)="downloadFile(comment.docs)">{{ comment.docs.name }}</a>

                                </div>
                            </div>

                            <div class="d-flex align-items-start profile-feed-item">
                                <img *ngIf="loginUser.passport" [src]="fsPath + loginUser.passport.link" class="img-sm rounded-circle" style="height: 35px; width: 35px;">
                                <img *ngIf="!loginUser.passport && loginUser.avatar" [src]="loginUser.avatar" class="img-sm rounded-circle" style="height: 35px; width: 35px;">
                                <img *ngIf="!loginUser.passport && !loginUser.avatar" src="assets/img/avatars/0.png" class="img-sm rounded-circle" style="height: 35px; width: 35px;">
                                <div class="ml-4" style="width: 80%">
                                    <h6>
                                        {{ loginUser.name }}
                                    </h6>
                                    <div class="mb-2">
                                        <mat-form-field class="d-block mt-2">
                                            <textarea matInput type="text" [formControl]="comment" placeholder="Your Comment" rows="3"></textarea>
                                        </mat-form-field>
                                        <button (click)="upload(uploadTemp)" class="btn btn-sm btn-primary mr-2"><i class="fa fa-cloud-upload"></i></button>
                                        <button (click)="postComment()" class="btn btn-sm btn-success">Post Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div *ngSwitchCase="2" class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mb-3">Calendar</h3>
                </div>
            </div>
        </div>

        <div class="animated fadeIn card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-sm-8">
                        <mat-form-field class="d-block" *ngIf="channelOpts?.length > 0">
                            <mat-label>Channel</mat-label>
                            <mat-select [formControl]="channel">
                                <mat-option *ngFor="let ch of channelOpts" [value]="ch.id">{{ ch.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <form [formGroup]="eventForm">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="d-block">
                                <input formControlName="name" matInput placeholder="Schedule Name" required>
                                <mat-error *ngIf="submitted && f.name.hasError('required')">
                                    Schedule Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="d-block">
                                <input [matDatepicker]="dPicker" formControlName="calDate" matInput placeholder="Due Date"
                                       required>
                                <mat-datepicker-toggle [for]="dPicker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #dPicker></mat-datepicker>
                                <mat-error *ngIf="submitted && f.calDate.hasError('required')">
                                    Schedule Date is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h6>Schedule Description</h6>
                            <ckeditor (ready)="onReady($event)" [config]="editorConfig" [editor]="ckEditor"
                                      formControlName="description"></ckeditor>
                        </div>
                    </div>

                    <button (click)="saveSchedule()" class="btn btn-sm btn-ghost-success"><i class="fa fa-save"></i> Save Schedule</button>
                </form>
            </div>
        </div>
    </div>

</div>

<ng-template #uploadTemp>
        <div class="modal-header">
            <h4 class="modal-title">{{ uploading ? 'Uploading your file' : 'Add File' }}</h4>
            <button (click)="uploadModal.hide()" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="!uploading" class="modal-body">
            <div class="form-group">
                <label for="select1">Select File</label>
                <input id="select1" type="file" class="form-control" (change)="readURL($event, 'document');" >
                <span class="text-red">{{fileError}}</span>

            </div>
            <div class="form-group">
                <label for="roles">Comment</label>
                <textarea [formControl]="comment" class="form-control" id="roles" placeholder="Your comment or file description" type="text" rows="3"></textarea>
            </div>

        </div>
        <div *ngIf="uploading" class="modal-body align-content-center mx-auto">
            <div class="text-center">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div *ngIf="!uploading" class="modal-footer">
            <button (click)="uploadModal.hide()" class="btn btn-secondary" type="button">Close</button>
            <button (click)="postFile()" class="btn btn-primary" type="submit">Post File</button>
        </div>
</ng-template>
