<app-header
  [asideMenuToggler]="false"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/fiscos.png', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [navbarBrandRouterLink]="['/dashboard']"
  [sidebarToggler]="false">
  <h4 class="text-center">Tritek Careers</h4>
</app-header>
<div class="app-body">
    <app-sidebar #appSidebar [display]="student" [fixed]="true"
                 [minimized]="false">
      <app-sidebar-nav [disabled]="appSidebar.minimized" [navItems]="navItems" [perfectScrollbar]></app-sidebar-nav>
    </app-sidebar>

  <!-- Main content -->
  <main class="main">
    <div class="container-fluid pt-3">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://rainestech.com">FISCOS Limited</a> &copy; {{ year }}.</span>
  <span class="ml-auto">Powered By <a href="https://rainestech.com/">RainesTech LLC</a></span>
</app-footer>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
