<div class="animated fadeIn">
    <div class="row py-3 px-4">
        <div class="col-md-10 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="card  pb-0 mb-0">
                    <div class="card-header">
                        <h4>API Token</h4>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <div class="card shadow">
                    <div class="card-body">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled
                        </p>
                        <div class="text-center">
                            <code>
                                89ad83b1-4317-4dfc-a57f-d6acbf703f71
                            </code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

