<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 col-sm-10 mx-auto py-4">
          <div class="text-center">
            <img src="assets/img/tritek-logo.png" class="img-fluid" style="height: 60px;">
          </div>
          <h6 class="text-center">Welcome to Tritek Careers</h6>
          <div class="card mx-4">
            <div *ngIf="view === 1" class="card-body p-4">
              <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <h1>Recruiter's Register</h1>
                <p class="text-muted">
                  Create your account
                  <span class="float-right">Have an Account? <a href="#/login">Login</a> </span>
                </p>

                <div class="row">
<!--                  <div class="col-12">-->
<!--                    <h6>Company Data</h6>-->
<!--                    <hr>-->
<!--                  </div>-->
                  <div class="col-sm-4">
                    <app-uploads [fileStorage]="logo"
                                 [instantUpload]="false"
                                 [toastComplete]="false"
                                 [uploadLabel]="'Company Logo'"
                                 [uploadName]="'logo'"
                                 (fileStorageUploads)="updateLogo($event)"
                                 [upload]="false">
                    </app-uploads>
                    <span class="small text-center text-danger" *ngIf="submitted && f.logo.invalid">Invalid File</span>
                  </div>
                  <div class="col-sm-8">
                    <mat-form-field class="d-block">
                      <input formControlName="companyName" matInput placeholder="Company Name" required>
                      <mat-error *ngIf="submitted && f.companyName.hasError('required')">
                        Company Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block mt-1">
                      <input formControlName="industry" matInput placeholder="Industry" required>
                      <mat-error *ngIf="submitted && f.industry.hasError('required')">
                        Company Industry is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block mt-1">
                      <input formControlName="type" matInput placeholder="Company Type" required>
                      <mat-error *ngIf="submitted && f.type.hasError('required')">
                        Company Type is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="d-block">
                      <mat-label>Company Size</mat-label>
                      <mat-select formControlName="size">
                        <mat-option value="0 - 10 Staff">0 - 10 Staff</mat-option>
                        <mat-option value="11 - 20 Staff">11 - 20 Staff</mat-option>
                        <mat-option value="21 - 50 Staff">21 - 50 Staff</mat-option>
                        <mat-option value="51 - 100 Staff">51 - 100 Staff</mat-option>
                        <mat-option value="Above 100 Staff">Above 100 Staff</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="d-block">
                      <input formControlName="website" matInput placeholder="Company Website" required>
                      <mat-error *ngIf="submitted && f.website.hasError('required')">
                        Company Website is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="d-block">
                      <textarea formControlName="description" matInput placeholder="About the company..."
                        required rows="3"></textarea>
                      <mat-error *ngIf="submitted && f.description.hasError('required')">
                        Company brief description is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="d-block mt-3">
                      <input formControlName="email" matInput placeholder="Company email" required>
                      <mat-error *ngIf="submitted && f.email.hasError('required')">
                        Valid Company Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="d-block mt-1">
                      <input formControlName="username" type="text" matInput placeholder="Login Username" required>
                      <mat-error *ngIf="submitted && f.username.hasError('required')">
                        Username is required
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="d-block mt-1">
                      <input formControlName="password" [type]="fieldTypePassword ? 'password' : 'text'" matInput placeholder="Login Password" required>
                      <i *ngIf="fieldTypePassword" (click)="viewPassword()" class="fa fa-eye-slash" matSuffix></i>
                      <i *ngIf="!fieldTypePassword" (click)="viewPassword()" class="fa fa-eye" matSuffix></i>
                      <mat-error *ngIf="submitted && f.password.hasError('required')">
                        Password is required. Minimum password length is 8 characters with at least one upper and lowercase letters
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="d-block mt-1">
                      <input formControlName="password_confirmation" [type]="fieldTypePassword ? 'password' : 'text'" matInput placeholder="Confirm Password" required>
                      <mat-error *ngIf="submitted && f.password_confirmation.hasError('required')">
                        Password do not match
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>


                <button [disabled]="loading" class="btn btn-block btn-success" type="submit">Register</button>
                <img *ngIf="loading" class="pl-2"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </form>
            </div>


            <div *ngIf="view === 2" class="card-body p-4 text-center">
              <h1>Registration Successful</h1>
              <p>Your registration data has been received. A One Time Password (OTP) has been sent to your email. Please Check your email and supply the token below.</p>
              <form [formGroup]="form" (ngSubmit)="submitOtp()">
                <div class="row align-middle" style="width: 90%; margin: 0 auto;">
                  <div class="form-group col-sm-2" style="width: 45px; padding-right: 10px; padding-left: 10px; margin: 0px" *ngFor="let input of formInput;  index as i">
                    <input #formRow type="text" formControlName="{{input}}" class="form-control m-1" style="width: 20px; padding: 5px" maxlength="1" (keyup)="keyUpEvent($event, i)">
                  </div>
                  <button class="btn btn-block btn-secondary mt-4" type="submit" [disabled]="form.invalid">Verify Email</button>
                  <button class="btn btn-block btn-warning mt-3" type="submit" (click)="regenerateToken()" *ngIf="validationError">Re-Send OTP</button>
                </div>
              </form>
            </div>

            <div *ngIf="view === 3" class="card-body p-4 text-center">
              <h1>Registration Successful</h1>
              <p>Your registration data has been received and email confirmed. Your login will be enabled by the administrator once your company details are verified.</p>
              <p>An email will be sent to your registered email to that effect.</p>
              <p>Thank you.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pl-5">
              <a href="#/contact" class="btn btn-link">Contact Us</a>
            </div>
            <div class="col-7">
              <div class="row container d-flex justify-content-end">
                <a href="https://www.facebook.com/tritekconsultingltd" target="_blank" class="btn btn-social-icon btn-outline-facebook mr-1"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Tritek_Consult" target="_blank" class="btn btn-social-icon btn-outline-twitter mr-1"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/tritek-consulting-limited" target="_blank" class="btn btn-social-icon btn-outline-linkedin mr-1"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/tritekconsultingltd/" target="_blank" class="btn btn-social-icon btn-outline-instagram mr-1"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <p class="text-center mt-3">Copyright &copy;{{ date }} <a href="#"> Tritek Consulting Limited </a></p>
        </div>
      </div>
    </div>
  </main>
</div>
