@import "~material-design-icons/iconfont/material-icons.css";

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.main .container-fluid {
  padding: 0 15px;
}

.navbar {
  justify-content: flex-start !important;
}

.nav-pad {
  padding-bottom: 10%;
  padding-top: 10%;
}

//.sidebar .nav {
//  width: 250px;
//  flex-direction: column;
//  height: 100px !important;
//  padding: 0;
//}

.btn.btn-social-icon {
  width: 30px;
  height: 30px;
  padding: 0
}

.template-demo>.btn {
  margin-right: 0.5rem !important
}

.template-demo {
  margin-top: 0.5rem !important
}

.btn.btn-rounded {
  border-radius: 50px
}

.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d
}

.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff
}

.btn-outline-youtube {
  border: 1px solid #e52d27;
  color: #e52d27
}

.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1
}

.btn-outline-dribbble {
  border: 1px solid #ea4c89;
  color: #ea4c89
}

.btn-outline-linkedin {
  border: 1px solid #0177b5;
  color: #0177b5
}

.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38
}

.btn-outline-twitter:hover {
  background: #2caae1;
  color: #ffffff
}

.btn-outline-linkedin:hover {
  background: #0177b5;
  color: #ffffff
}

.btn-outline-youtube:hover {
  background: #e52d27;
  color: #ffffff
}

.btn-outline-instagram:hover {
  background: #e52d27;
  color: #ffffff
}

.btn-facebook {
  background: #3b579d;
  color: #ffffff
}

.btn-youtube {
  background: #e52d27;
  color: #ffffff
}

.btn-twitter {
  background: #2caae1;
  color: #ffffff
}

.btn-dribbble {
  background: #ea4c89;
  color: #ffffff
}

.btn-linkedin {
  background: #0177b5;
  color: #ffffff
}

.btn-instagram {
  background: #dc4a38;
  color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
  background: #c21d17;
  color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff
}

.btn-dribbble:hover,
.btn-dribbble:focus {
  background: #e51e6b;
  color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  background: #015682;
  color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff
}

// Calls from hrm
.custom-container {
  position: relative;
  width: 100%;
  height: 80vmin;
}

.nav-link {
  padding: .75rem 1rem;
  color: #23282c;
  border-top: 0;
  border-radius: 0;
}
.profile-widget {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.dropdown.profile-action {
  position: absolute;
  right: 5px;
  text-align: right;
  top: 10px;
}

.profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
  font-size: 24px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}
