.avatar-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.avatar-edit-badge {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  color: #f48e33;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid #f48e33;
  padding-top: 1px;
  padding-left: 2px;
  cursor: pointer;
}

.avatar_cont {
  position: relative;
}
