<div class="animated fadeIn">
    <div class="messages-sec">
        <div class="row">
            <div class="col-sm-12 col-md-5 pr-0">
                <div class="msgs-list">
                    <div class="msg-title">
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Messages</font></font></h3>
                        <ul>
                            <li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-ellipsis-v"></i></a></li>
                        </ul>
                    </div>
                    <div class="messages-list">
                        <ul style="padding-top: 90px;">
                            <li class="active">
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                        <span class="msg-status"></span>
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">John doe</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor </font></font><img src="images/smley.png" alt=""></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                    <span class="msg-notifc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                                </div>
                            </li>
                            <li>
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">David Vane</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vestibulum ac diam ..</font></font></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                </div>
                            </li>
                            <li>
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nancy dilan</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quam vehicula.</font></font></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                </div>
                            </li>
                            <li>
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                        <span class="msg-status"></span>
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Norman Kenney</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nulla quis lorem ut ..</font></font></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                </div>
                            </li>
                            <li>
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                        <span class="msg-status"></span>
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">James dilan</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vivamus magna just ..</font></font></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                </div>
                            </li>
                            <li>
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mike Dorn</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Praesent sapien massa.</font></font></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                </div>
                            </li>
                            <li>
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="assets/img/avatars/2.jpg" alt="">
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Patrick morison</font></font></h3>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Convalled a pellente ...</font></font></p>
                                    </div>
                                    <span class="posted_time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:55 PM</font></font></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 pl-0">
                <div class="main-conversation-box">
                    <div class="message-bar-head">
                        <div class="usr-msg-details">
                            <div class="usr-ms-img">
                                <img src="assets/img/avatars/2.jpg" alt="">
                            </div>
                            <div class="usr-mg-info">
                                <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">John doe</font></font></h3>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Online</font></font></p>
                            </div>
                        </div>
                        <a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
                    </div>
                    <div class="messages-line mCustomScrollbar _mCS_1">
                        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                            <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top:99px; left: 0px;" dir="ltr">
                                <div class="main-message-box">
                                    <div class="messg-usr-img">
                                        <img src="assets/img/avatars/2.jpg" alt="" class="mCS_img_loaded">
                                    </div>
                                    <div class="message-dt">
                                        <div class="message-inner-dt img-bx">
                                            <img src="assets/img/avatars/2.jpg" alt="" class="mCS_img_loaded">
                                            <img src="assets/img/avatars/2.jpg" alt="" class="mCS_img_loaded">
                                            <img src="assets/img/avatars/2.jpg" alt="" class="mCS_img_loaded">
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sat, Aug 23, 1:08 PM</font></font></span>
                                    </div>
                                </div>
                                <div class="main-message-box ta-right">
                                    <div class="message-dt">
                                        <div class="message-inner-dt">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </font><font style="vertical-align: inherit;">Donec rutrum congue leo eget malesuada. </font><font style="vertical-align: inherit;">Vivamus elicits tortor eget felis porttitor.</font></font></p>
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sat, Aug 23, 1:08 PM</font></font></span>
                                    </div>
                                    <div class="messg-usr-img">
                                        <img src="assets/img/avatars/2.jpg" alt="" class="mCS_img_loaded">
                                    </div>
                                </div>
                                <div class="main-message-box st3">
                                    <div class="message-dt st3">
                                        <div class="message-inner-dt">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cras ultricies ligula.</font></font><img src="images/smley.png" alt="" class="mCS_img_loaded"></p>
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5 minutes ago</font></font></span>
                                    </div>
                                    <div class="messg-usr-img">
                                        <img src="images/resources/m-img1.png" alt="" class="mCS_img_loaded">
                                    </div>
                                </div>
                                <div class="main-message-box ta-right">
                                    <div class="message-dt">
                                        <div class="message-inner-dt">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </font><font style="vertical-align: inherit;">Donec rutrum congue leo eget malesuada. </font><font style="vertical-align: inherit;">Vivamus elicits tortor eget felis porttitor.</font></font></p>
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sat, Aug 23, 1:08 PM</font></font></span>
                                    </div>
                                    <div class="messg-usr-img">
                                        <img src="images/resources/m-img2.png" alt="" class="mCS_img_loaded">
                                    </div>
                                </div>
                                <div class="main-message-box st3">
                                    <div class="message-dt st3">
                                        <div class="message-inner-dt">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet</font></font></p>
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2 minutes ago</font></font></span>
                                    </div>
                                    <div class="messg-usr-img">
                                        <img src="images/resources/m-img1.png" alt="" class="mCS_img_loaded">
                                    </div>
                                </div>
                                <div class="main-message-box ta-right">
                                    <div class="message-dt">
                                        <div class="message-inner-dt">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </font><font style="vertical-align: inherit;">Donec rutrum congue leo eget malesuada. </font><font style="vertical-align: inherit;">Vivamus elicits tortor eget felis porttitor.</font></font></p>
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sat, Aug 23, 1:08 PM</font></font></span>
                                    </div>
                                    <div class="messg-usr-img">
                                        <img src="images/resources/m-img2.png" alt="" class="mCS_img_loaded">
                                    </div>
                                </div>
                                <div class="main-message-box st3">
                                    <div class="message-dt st3">
                                        <div class="message-inner-dt">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">....</font></font></p>
                                        </div>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Typing ...</font></font></span>
                                    </div>
                                    <div class="messg-usr-img">
                                        <img src="images/resources/m-img1.png" alt="" class="mCS_img_loaded">
                                    </div>
                                </div>
                            </div>
                            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
                                <div class="mCSB_draggerContainer">
                                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 453px; max-height: 594px; top: 115px;">
                                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                    </div>
                                    <div class="mCSB_draggerRail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message-send-area">
                        <form>
                            <div class="mf-field">
                                <input type="text" name="message" placeholder="Type a message here">
                                <button type="submit"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Send</span></span></button>
                            </div>
                            <ul>
                                <li><a href="#" title=""><i class="fa fa-smile-o"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
