<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Platform Users</h3>
<!--                <ul class="breadcrumb">-->
<!--                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>-->
<!--                    <li class="breadcrumb-item active">Employee</li>-->
<!--                </ul>-->
            </div>
            <div class="col-auto float-right ml-auto">
                <button class="btn add-btn btn-ghost-primary" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add User</button>
                <div class="view-icons">
                    <button class="grid-view btn btn-link active"><i class="fa fa-th"></i></button>
                    <button class="list-view btn btn-link"><i class="fa fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="animated fadeIn">
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Search users by</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus focused">
                    <select class="form-control">
                        <option data-select2-id="3">Filter by</option>
                        <option data-select2-id="26">Candidate</option>
                        <option data-select2-id="27">Recruiter</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- Search Filter -->

        <div class="row staff-grid-row">
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/2.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">John Doe</a></h4>
                    <div class="small text-muted">Web Designer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/7.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Richard Miles</a></h4>
                    <div class="small text-muted">Web Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/8.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">John Smith</a></h4>
                    <div class="small text-muted">Android Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/5.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Mike Litorus</a></h4>
                    <div class="small text-muted">IOS Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/2.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Wilmer Deluna</a></h4>
                    <div class="small text-muted">Team Leader</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/3.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Jeffrey Warden</a></h4>
                    <div class="small text-muted">Web Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/4.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Bernardo Galaviz</a></h4>
                    <div class="small text-muted">Web Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/1.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Lesley Grauer</a></h4>
                    <div class="small text-muted">Team Leader</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/6.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Jeffery Lalor</a></h4>
                    <div class="small text-muted">Team Leader</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/4.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Loren Gatlin</a></h4>
                    <div class="small text-muted">Android Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/3.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Tarah Shropshire</a></h4>
                    <div class="small text-muted">Android Developer</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow">
                    <div class="profile-img">
                        <a href="" class="avatar"><img src="assets/img/avatars/8.jpg" alt=""></a>
                    </div>
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon dropdown-toggle bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-pencil m-r-5"></i> Edit</button>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-trash-o m-r-5"></i> Delete</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Catherine Manseau</a></h4>
                    <div class="small text-muted">Android Developer</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                    Showing 1 to 7 of 7 entries
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers float-right">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
