<div [ngSwitch]="view">
    <div *ngSwitchCase="1" class="animated fadeIn">
        <div class="row py-3 px-4">
            <div class="col-md-10 mx-auto">
                <!-- Profile widget -->
                <div *ngIf="dataLoaded" class="animated fadeIn bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head">
                            <div class="profile mr-3">
                                <img *ngIf="!passport && !profile.avatar" src="/assets/img/avatars/0.jpeg" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                <img *ngIf="!passport && profile.avatar" [src]="profile.avatar" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                <img *ngIf="passport" src="{{ fileLink + passport.link }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                <a href="#/profile-options" (click)="editProfile()" *ngIf="enableEdit" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div>
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">{{ profile.name ? profile.name : profile.companyName ? profile.companyName : loginUser.username }}
                                    <button *ngIf="enableClose" (click)="close()" class="btn btn-sm btn-danger float-right"><i class="fa fa-close"></i></button>
                                </h4>
                                <button (click)="deleteProfile()" *ngIf="enableEdit && !candidate" class="btn btn-outline-danger btn-sm my-3">Delete Profile</button>
                                <button (click)="verifyAccount()" *ngIf="enableVerify && !profile.user.adminVerified" class="btn btn-outline-success btn-sm my-3 float-right">Verify Account</button>
                                <button (click)="shortlist()" *ngIf="enableShortlist" class="btn btn-outline-success btn-sm my-3">Shortlist</button>
                                <h6 *ngIf="candidate" class="pb-2 text-white">{{ profile.title }}</h6>
                                <h6 *ngIf="!candidate && !enableEdit" class="pb-2 text-white">{{ profile.type }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{ profile?.fileNo | number }}</h5><small class="text-muted"> <i class="fa fa-image mr-1"></i>Documents</small>
                            </li>
                            <li *ngIf="candidate" class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{ profile.projectNo | number }}</h5>
                                <small class="text-muted"> <i class="fa fa-user mr-1"></i>Projects</small>
                            </li>
                            <li *ngIf="!candidate" class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{profile.candNo | number}}</h5>
                                <small class="text-muted"> <i class="fa fa-user mr-1"></i>ShortLists</small>
                            </li>
                        </ul>
                    </div>
                    <div class="px-4 py-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">About </h5>
                        </div>
                        <div *ngIf="profile" class="p-4 rounded shadow-sm bg-light" [innerHTML]="profile?.description | sanitizeHtml">
                            <p class="font-italic mb-0">Web Developer</p>
                            <p class="font-italic mb-0">Lives in New York</p>
                            <p class="font-italic mb-0">Photographer</p>
                        </div>
                        <div *ngIf="!profile" class="p-4 rounded shadow-sm bg-light">
                            <p class="font-italic mb-0">Update your profile</p>
                        </div>
                    </div>
                    <div class="px-4 py-3">
                        <div class="d-flex align-items-center justify-content-between mb-n2">
                            <h5 class="mb-0">Basic Info </h5>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-md-5 bg-light m-4 p-4 rounded">
                                <div class="media-body mb-2">
                                    <p class="small mb-0"> Username</p>
                                    <h5 class="mt-0 mb-0">{{ loginUser.username }}</h5>
                                </div>
                                <div class="media-body mb-2">
                                    <p class="small mb-0">Email</p>
                                    <h5 *ngIf="realUser.id === loginUser.id || loginUser.role === 'ADMIN'" class="mt-0 mb-0">{{ loginUser.email ? loginUser.email : profile.email }}</h5>
                                    <h5 *ngIf="realUser.id !== loginUser.id && loginUser.role !== 'ADMIN'" class="mt-0 mb-0">***********</h5>
                                </div>
                                <div *ngIf="!candidate" class="media-body mb-2">
                                    <p class="small mb-0">Job Title</p>
                                    <h5 class="mt-0 mb-0">{{ profile?.title }}</h5>
                                </div>
                            </div>
                            <div *ngIf="!candidate" class="col-md-5 bg-light m-4 p-4 rounded">
                                <div class="media-body mb-2">
                                    <p class="small mb-0">Company Type</p>
                                    <h5 class="mt-0 mb-0">{{ profile?.type }}</h5>
                                </div>
                                <div class="media-body mb-2">
                                    <p class="small mb-0">Company Size</p>
                                    <h5 class="mt-0 mb-0">{{ profile?.size }}</h5>
                                </div>
                                <div class="media-body mb-2">
                                    <p class="small mb-0">Industry</p>
                                    <h5 class="mt-0 mb-0">{{ profile?.industry }}</h5>
                                </div>
                            </div>
                            <div *ngIf="candidate" class="col-md-5 bg-light m-4 p-4 rounded">
                                <div class="media-body mb-2">
                                    <p class="small mb-0">Title</p>
                                    <h5 class="mt-0 mb-0">{{ profile?.title }}</h5>
                                </div>
                                <div class="media-body mb-2">
                                    <p class="small mb-0"> Projects</p>
                                    <h5 class="mt-0 mb-0">{{ profile.projectNo | number }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!loginUser.companyName" class="px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Skill Sets</h5>
                        </div>
                        <div class="card border-0">
                            <div class="card-body bg-light py-1">
                                <div class="row">
                                    <span *ngFor="let skill of profile?.skills" class="px-2 py-2 m-1" style="background-color: lightgrey; border-radius: 10%;">{{ skill }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!loginUser.companyName" class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Projects</h5>
                        </div>
                        <div class="row">
                            <div *ngFor="let project of profile?.projects" class="col-lg-6 col-sm-12 col-md-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="project-title"><a href="">{{ project.name }}</a></h4>
                                        <p class="text-muted">{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Documents</h5>
                        </div>
                        <div class="row row-sm">
                            <div *ngFor="let doc of docs" class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3">
                                <div class="card card-file shadow">
                                    <div class="card-file-thumb">
                                        <i *ngIf="doc.file.link.toLowerCase().includes('pdf')" class="fa fa-file-pdf-o"></i>
                                        <i *ngIf="doc.file.link.toLowerCase().includes('doc')" class="fa fa-file-word-o"></i>
                                        <i *ngIf="doc.file.link.toLowerCase().includes('xls')" class="fa fa-file-excel-o"></i>
                                        <i *ngIf="doc.file.fileType.toLowerCase().includes('image')" class="fa fa-file-image-o"></i>
                                    </div>
                                    <div class="card-body">
                                        <h6>{{ doc.name }}</h6>
                                        <span>{{ doc.description }}</span>
                                    </div>
                                    <div class="card-footer">
                                        <button (click)="download(doc)" class="btn btn-ghost-primary btn-block" tooltip="Download File"><i class="fa fa-cloud-download"></i></button>
                                    </div>
                                </div>
                            </div>
<!--                            <div *ngIf="profile?.docs.length < 1" (click)="editDoc(null)" class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3" style="cursor: pointer;">-->
<!--                                <div class="card card-file shadow">-->
<!--                                    <div class="card-file-thumb">-->
<!--                                        <i class="fa fa-plus"></i>-->
<!--                                    </div>-->
<!--                                    <div class="card-body">-->
<!--                                        <h6>Upload Document</h6>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>

                    </div>
                </div>
                <div *ngIf="!dataLoaded" class="animated fadeIn">
                    <facebook-content-loader></facebook-content-loader>
                    <facebook-content-loader></facebook-content-loader>
                    <list-content-loader></list-content-loader>
                </div>
            </div>
        </div>
    </div>
    <app-candidate-profile *ngSwitchCase="2"
                           [profile]="profile"
                           [user]="getUser(profile)"
                           [enableClose]="true"
                           (closed)="back()"
                           (editedProfile)="outEdit($event)"
                           [passport]="getPassport(profile)">

    </app-candidate-profile>

    <app-recruiter-profile *ngSwitchCase="3"
                           [profile]="profile"
                           [user]="profile.user"
                           [logo]="getLogo(profile)"
                           [enableClose]="true"
                           (closed)="back()"
                           (editedProfile)="outEdit($event)"
                           [passport]="[profile.user.passport]">

    </app-recruiter-profile>

</div>
