<div class="animated fadeIn">
    <div class="card-group custom-container mx-0 row">
        <div class="card col-12 p-0">
            <div class="card-header">
                <div class="d-inline-flex">
                    <div class="avatar mr-2">
                        <img src="assets/img/avatars/0.png" alt="avatar" height="30" width="auto" class="img-avatar">
<!--                        <img *ngIf="selectedChat.avatar.length > 0" src="{{ getAvatarLink(selectedChat) }} " alt="{{ selectedChat.name }}" height="30" width="auto" class="img-avatar">-->
<!--                        <span [class]="statusBadge(selectedChat)"></span>-->
                    </div>
                    <div>
                        <a href="#" (click)="false" title="name">
                            <span>John Doe</span></a>
                        <!--                        <i class="small text-primary ml-2">Typing...</i>-->
                        <span class="small d-block">Online</span>
                    </div>
                </div>
                <div class="card-header-actions float-right">
                    <ul class="nav custom-menu">
                        <li class="nav-item">
                            <span class="px-2 py-2"><i class="fa fa-2x fa-comments"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="calls-content">
                    <!--                <div class="voice-call-avatar">-->
                    <!--                    <img src="assets/img/avatars/2.jpg" alt="" class="call-avatar">-->
                    <!--                    <span class="username">John Doe</span>-->
                    <!--                </div>-->
                    <div class="user-video">
                        <img src="assets/img/avatars/3.jpg" alt="">
                    </div>
                    <div class="my-video">
                        <ul>
                            <li>
                                <img src="assets/img/avatars/2.jpg" class="img-fluid" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="call-icons">
                    <div class="call-duration">
                        <span>00:59</span>
                    </div>
                    <ul class="call-items">
                        <li class="call-item">
                            <span>
                                <i class="fa fa-video-camera camera"></i>
                            </span>
                        </li>
                        <li class="call-item">
                            <span>
                                <i class="fa fa-microphone microphone"></i>
                            </span>
                        </li>
                        <li class="call-item">
                            <span >
                                <i class="fa fa-user-plus"></i>
                            </span>
                        </li>
                    </ul>
                    <div class="end-call">
                        <span>
                            <i class="material-icons">call_end</i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--n6arJjQH=HXp<WR)-->
<!--/usr/lib/jvm/java-1.11.0-openjdk-amd64-->
