<div [ngSwitch]="view">
    <div *ngSwitchCase="1">
        <div *ngIf="dataLoaded" class="animated fadeIn">
            <div class="row py-3 px-4">
                <div class="col-md-10 mx-auto">
                    <div class="bg-white shadow rounded overflow-hidden">
                        <div class="card  pb-0 mb-0">
                            <div class="card-header">
                                <h4>{{ loginUser.companyName ? 'Shortlisted Candidates' : 'Potential Recruiters' }}
                                    <div class="file-options float-right mr-2">
                                        <button *ngIf="loginUser.companyName" [disabled]="selCandidates.length < 1" (click)="requestAll()" class="btn btn-ghost-success btn-sm mr-3" title="Request Selected Candidates" >
                                            <i class="fa fa-telegram"></i></button>
                                        <input [formControl]="search" placeholder="Search">
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <div *ngFor="let g of dataSet" class="card animated fadeIn shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="profile-view">
                                            <input *ngIf="loginUser.companyName && !requested.includes(g.id)" type="checkbox" (change)="checkValue($event, g)">
                                            <div class="profile-img-wrap">
                                                <div class="profile-img" (click)="viewDetails(g)">
                                                    <app-uploads [avatarUrl]="g.avatar"
                                                                 [fileStorage]="getPassport(g)"
                                                                 [uploadLabel]="''"
                                                                 [disableUpload]="true"
                                                                 [uploadName]="''"></app-uploads>
                                                </div>
                                            </div>
                                            <div class="profile-basic">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="profile-info-left" (click)="viewDetails(g)">
                                                            <h3 class="user-name m-t-0 mb-0">{{ g.name ? g.name : g.companyName }}
                                                            </h3>
                                                        </div>
                                                        <ul class="personal-info">
                                                            <li>
                                                                <div class="title">Email:</div>
                                                                <div *ngIf="loginUser.companyName && requested.includes(g.id) && approved.includes(g.id)" class="text">{{g.email}}</div>
                                                                <div *ngIf="loginUser.companyName && requested.includes(g.id) && !approved.includes(g.id)" class="text">Awaiting Approval</div>
                                                                <div *ngIf="loginUser.companyName && !requested.includes(g.id)" class="text">Request Candidate</div>
                                                            </li>
                                                            <li *ngIf="!loginUser.companyName">
                                                                <div class="title">Company Type:</div>
                                                                <div class="text">{{ g.type }}</div>
                                                            </li>
                                                            <li *ngIf="!loginUser.companyName">
                                                                <div class="title">Company Size:</div>
                                                                <div class="text">{{ g.size }}</div>
                                                            </li>
                                                            <li *ngIf="loginUser.companyName">
                                                                <div class="title">Projects:</div>
                                                                <div class="text">{{ g.projectNo }}</div>
                                                            </li>
                                                            <li *ngIf="loginUser.companyName">
                                                                <div class="title">Skill Sets:</div>
                                                                <div class="text">{{ g.skills.length }}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="personal-info">
                                                            <li>
                                                                <div class="title">Title:</div>
                                                                <div class="text">{{ g.title ? g.title : 'Profile Title' }}</div>
                                                            </li>
                                                            <li class="d-block">
                                                                <div class="title">Bio:</div>
                                                                <div class="text" [innerHtml]="g.description | sanitizeHtml"></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div dropdown class="pro-edit" *ngIf="loginUser.companyName">
<!--                                                <button (click)="delete(g)" tooltip="Remove From List" class="edit-icon"><i class="fa fa-trash-o text-danger"></i></button>-->
                                                <button dropdownToggle tooltip="Options" class="edit-icon"><i class="fa fa-ellipsis-v"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <button (click)="request(g)" *ngIf="!requested.includes(g.id)" class="btn btn-block btn-sm btn-ghost-success"><i class="fa fa-plus"></i> Request</button>
                                                    <button (click)="delete(g)" class="btn btn-block btn-sm btn-ghost-danger"><i class="fa fa-trash-o"></i> Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="2">
        <app-profile-view [enableEdit]="false"
                          [candidate]="!!loginUser.companyName" (closed)="close()"
                          [enableClose]="true" [enableShortlist]="false"
                          [user]="getUser(selProfile)"
                          [profile]="selProfile"></app-profile-view>
    </div>

</div>

