<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-lock"></i> Add New Registered Member
      <span *ngIf="user" class="ml-5">({{ user.name }})</span>
      <form *ngIf="!user" [formGroup]="queryForm" class="float-right">
        <div class="input-group" dropdown>
          <input class="form-control" formControlName="fileNo" id="input2-group2" placeholder="Username or Email"
                 type="text">
          <div class="input-group-append">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    dropdownToggle type="button">Search By
              <span class="caret"></span>
            </button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <a (click)="searchByName('username')" class="dropdown-item">User Name</a>
              <a (click)="searchByName('email')" class="dropdown-item">Email</a>
            </div>
          </div>
        </div>
      </form>
      <button (click)="close()" *ngIf="user" class="btn btn-sm btn-danger float-right"><i class="fa fa-close"></i>
      </button>
    </div>
    <div *ngIf="user" class="card-body">
      <app-employees-data (personnel)="done($event)" [user]="user"></app-employees-data>
    </div>
  </div>
</div>
