<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Channels</h3>
                <!--                <ul class="breadcrumb">-->
                <!--                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>-->
                <!--                    <li class="breadcrumb-item active">Employee</li>-->
                <!--                </ul>-->
            </div>
            <div class="col-auto float-right ml-auto">
                <button class="btn add-btn btn-ghost-primary" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Channel</button>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="animated fadeIn">
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-9 col-md-9">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" placeholder="search channels">
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <button class="btn btn-success btn-block"><i class="fa fa-refresh"></i> Refresh </button>
            </div>
        </div>
        <!-- Search Filter -->

        <div class="row staff-grid-row">
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow p-4">
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Project Whyte</a></h4>
                    <div class="small text-muted">BA Meetings</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow p-4">
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis">Support</h4>
                    <div class="small text-muted">PMOs</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow p-4">
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Sponsor</a></h4>
                    <div class="small text-muted">Meetings with Sponsor</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget shadow p-4">
                    <div class="dropdown profile-action" dropdown>
                        <button class="action-icon bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <button class="btn-block dropdown-item py-1 m-0"><i class="fa fa-openid m-r-5"></i> View Details</button>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="">Project Team</a></h4>
                    <div class="small text-muted">Weekly Meetings</div>
                </div>
            </div>
        </div>
    </div>
</div>
