<div [ngSwitch]="view">
    <div *ngSwitchCase="1">
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header mt-3">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Channels</h3>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <button *ngIf="loginUser.role !== 'CANDIDATES'" (click)="addChannel(null)" class="btn add-btn btn-ghost-primary" ><i class="fa fa-plus"></i> Add Channel</button>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="animated fadeIn" *ngIf="dataLoaded && channels.length > 0">
                <!-- Search Filter -->
                <div class="row filter-row">
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group form-focus">
                            <input type="text" class="form-control floating" placeholder="search channels">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <button (click)="refresh()" class="btn btn-success btn-block"><i class="fa fa-refresh"></i> Refresh </button>
                    </div>
                </div>
                <!-- Search Filter -->

                <div class="row staff-grid-row">
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" *ngFor="let data of channels">
                        <div class="profile-widget shadow p-4">
                            <div class="dropdown profile-action" dropdown>
                                <button class="action-icon bg-transparent border-0 btn-sm" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                    <button (click)="viewChannel(data)" *ngIf="loginUser.role === 'CANDIDATES'" class="btn btn-sm btn-info mr-1"><i class="fa fa-eye"></i> View Channel</button>
                                    <button (click)="viewChannel(data)" *ngIf="loginUser.role !== 'CANDIDATES'" tooltip="View" class="btn btn-sm btn-info mr-1"><i class="fa fa-eye"></i></button>
                                    <button (click)="addChannel(data)" *ngIf="loginUser.role !== 'CANDIDATES'" tooltip="Edit" class="btn btn-sm btn-warning mr-1"><i class="fa fa-edit"></i></button>
                                    <button (click)="deleteChannel(data)" *ngIf="loginUser.role !== 'CANDIDATES'" tooltip="Delete" class="btn btn-sm btn-danger mr-1"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 mb-0 text-ellipsis" (click)="viewChannel(data)">{{ data.name }}</h4>
                            <div class="small text-muted">{{ data.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated fadeIn mt-5" *ngIf="dataLoaded && channels.length < 1 && loginUser.role !== 'CANDIDATES'">
                <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                    <div class="profile-widget shadow p-4" (click)="addChannel(null)" style="cursor: pointer; ">
                        <i class="fa fa-plus fa-3x"></i>
                        <h4 class="user-name m-t-10 mb-0 text-ellipsis">Add Channel</h4>
                    </div>
                </div>
            </div>
            <div class="animated fadeIn mt-5" *ngIf="dataLoaded && channels.length < 1 && loginUser.role === 'CANDIDATES'">
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="profile-widget shadow p-4">
                        <p>You have not been assigned to a channel yet. Please contact Admin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="2">
        <app-channel-data (outChannel)="newChannel($event)" [channel]="curChannel" (closed)="close($event)"></app-channel-data>
    </div>

    <div *ngSwitchCase="3">
        <app-channel-view [channel]="curChannel" (closed)="close($event)" (outChannel)="newChannel($event)" (deleted)="removeChannel($event)"></app-channel-view>
    </div>
</div>
